body {
  font-family: "Montserrat";
}

.navbar {
  padding: 20px;
  transition: background-color 0.3s ease;
}

.navbar-solid {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 158, 1) 13%,
    rgba(0, 255, 235, 1) 64%
  );
  transition: background-color 0.5s ease;
  box-shadow: 0px 0px 10px #181c24;
}

.navbar .nav-link {
  font-size: 16px;
  font-weight: bolder;
}

.nav-item.active .nav-link {
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
}

.jumbotron {
  padding: 120px 0px 0px;
  background: linear-gradient(
    90deg,
    rgba(0, 255, 158, 1) 13%,
    rgba(0, 255, 235, 1) 64%
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutme {
  background-color: #28242c;
  padding: 90px 0px 0px;
}

.aboutme .mypoto {
  background-color: #181c24;
}

.aboutme img:hover {
  transition: 1.2s;
  transform: scale(1.2);
}

.aboutme h1 {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 158, 1) 13%,
    rgba(0, 255, 235, 1) 64%
  );
  -webkit-background-clip: text; /* Untuk mendukung beberapa browser */
  color: transparent; /* Membuat teks aslinya transparan */
  font-weight: 600;
}

.education {
  background-color: #383444;
  height: screen;
}

.education h1 {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 158, 1) 13%,
    rgba(0, 255, 235, 1) 64%
  );
  -webkit-background-clip: text; /* Untuk mendukung beberapa browser */
  color: transparent; /* Membuat teks aslinya transparan */
  font-weight: 600;
}

.education-timeline {
  position: relative;
  padding: 20px;
}

.education-item {
  position: relative;
  margin-bottom: 30px;
}

.education-content {
  padding: 10px;
  border: 2px solid rgba(0, 255, 158, 1);
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.education-content h5 {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.education-content p {
  margin: 0;
  color: white;
}

.education-item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgba(0, 255, 235, 1);
  top: -20px;
  left: 50%;
  margin-left: -20px;
  z-index: 1;
}

.education-item:first-child:before {
  display: none;
}

.portofolio {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 158, 1) 13%,
    rgba(0, 255, 235, 1) 64%
  );
}

.porto-brand {
  background-color: #383444;
  padding: 100px 0px 20px;
}

.portofolio h1 {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 158, 1) 13%,
    rgba(0, 255, 235, 1) 64%
  );
  -webkit-background-clip: text; /* Untuk mendukung beberapa browser */
  color: transparent; /* Membuat teks aslinya transparan */
  font-weight: 600;
}

.card {
  width: 18rem;
  overflow: hidden; /* Menyembunyikan konten yang melebihi ukuran card */
}

.portofolio img {
  transition: transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.portofolio img:hover {
  transform: scale(1.2);
}

.portofolio .card-text {
  font-size: 12px;
}

.portofolio .card .btn {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 158, 1) 13%,
    rgba(0, 255, 235, 1) 64%
  );
  color: black;
  width: 60%;
  margin: auto;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0
  ); /* Warna latar belakang awalnya transparan */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Mulai dengan opacity 0 (transparan) */
  transition: background-color 0.3s, opacity 0.3s;
}

.overlay p {
  margin: 0;
  font-size: 12px;
  color: black; /* Warna teks putih */
}

.card:hover .overlay {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Warna latar belakang ketika dihover */
  opacity: 1; /* Ubah opacity menjadi 1 (tidak transparan) */
}
